# WARMUP PROBLEMS

# LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd
# lesser_of_two_evens(2,4) --> 2
# lesser_of_two_evens(2,5) --> 5

In [4]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    elif a%2!=0 or b%2!=0:
        return max(a,b)
    
lesser_of_two_evens(2,5)

5

# ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
# animal_crackers('Levelheaded Llama') --> True
# animal_crackers('Crazy Kangaroo') --> False

In [9]:
def animal_crackers(a , b):
    if a[0]==b[0]:
        return True
    else:
        return False
    
animal_crackers('Tiger','Ligress')

False

# MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False
# makes_twenty(20,10) --> True
# makes_twenty(12,8) --> True
# makes_twenty(2,3) --> False

In [15]:
def makes_twenty(a,b):
    if a+b==20:
        return True
    elif a==20 or b==20:
        return True
    else:
        return False

makes_twenty(5,20)

True

# LEVEL 1 PROBLEMS

# OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
# old_macdonald('macdonald') --> MacDonald

# Note: 'macdonald'.capitalize() returns 'Macdonald'

In [34]:
def old_macdonald(a):
    first_letter = a[0]
    middle_letters =a[1:3]
    fourth_letter =a[3]
    remaining_letters=a[3:]
    return first_letter.upper() + middle_letters + fourth_letter.upper() + remaining_letters
    
old_macdonald('superman')

'SupEerman'

# IMPORTANT PROBLEM : 

# MASTER YODA: Given a sentence, return a sentence with the words reversed
# master_yoda('I am home') --> 'home am I'
# master_yoda('We are ready') --> 'ready are We'

# Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

# >>> "--".join(['a','b','c'])
# >>> 'a--b--c'

# This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

# >>> " ".join(['Hello','world'])
# >>> "Hello world"

In [19]:
# This problem introduces us to the split and join method

def master_yoda(d):
    split_sentence = d.split()                # Splitting the string into individual words of a list
    reverse_sentence = split_sentence[::-1]   # reversing the items of the list
    return ' '.join(reverse_sentence)         # joining the reversed list items with a blank string which gives a string 

master_yoda('rahul is a great guy')           # example

'guy great a is rahul'

# ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
# almost_there(90) --> True
# almost_there(104) --> True
# almost_there(150) --> False
# almost_there(209) --> True

# NOTE: abs(num) returns the absolute value of a number

In [27]:
def almost_there(n):
    
    if (abs(100-n)<=10 or abs(200-n)<=10):
        return True
    else:
        return False
    
# almost_there(90)  
# almost_there(104) 
almost_there(150) 
# almost_there(209)

False

# LEVEL 2 PROBLEMS

# FIND 33:

# Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

# has_33([1, 3, 3]) → True
# has_33([1, 3, 1, 3]) → False
# has_33([3, 1, 3]) → False

In [61]:
def has_33(list):
    for i in range(0,len(list)-1):             # search for items in the list along its length but only till the second last
        if list[i]== 3 and list[i+1]==3:
            return True
    return False
    
# has_33([1, 3, 1, 3])
has_33([1, 3, 3])

True

In [60]:
# A similar way o0f addressing the same problem

def has_33(list):
    for i in range(0,len(list)-1):             # search for items in the list along its length but only till the second last
        if list[i:i+2] == [3,3]:
            return True
    return False
    
has_33([1, 3, 1, 3])
# has_33([1, 3, 3])

False

# PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
# paper_doll('Hello') --> 'HHHeeellllllooo'
# paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [66]:
# CORRECT VERSION

def paper_doll(x):
    doll=''
    for item in x : 
        doll+=item*3
    return doll

paper_doll('hello')

'hhheeellllllooo'

# BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
# blackjack(5,6,7) --> 18
# blackjack(9,9,9) --> 'BUST'
# blackjack(9,9,11) --> 19

In [75]:
# MY VERSION

def blackjack(a,b,c):
    if a+b+c<=21:
        return a+b+c
    elif a+b+c>21 and a==11 or b==11 or c==11:
        return a+b+c-10
    elif a+b+c>21:
        return "BUST"

blackjack(91,9,11)

101

In [76]:
# CORRECTED VERSION

def black_jack(a,b,c):
    if sum([a,b,c]) <=21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c])>21:
        return sum([a,b,c])-10
    else:
        return "BUST"

# SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
# summer_69([1, 3, 5]) --> 9
# summer_69([4, 5, 6, 7, 8, 9]) --> 9
# summer_69([2, 1, 6, 9, 11]) --> 14

In [ ]:
# VERY HARD PROBLEM TRY IT ONE MORE TIME